 .address-container {
   display: flex;
   /* justify-content: center; */
   width: 600px;
   padding: 30px;
 }

 .address-box {
   /* width: 90vw; */
   padding: 25px;
 }

 .address-box>h2 {
   font-size: 22px;
   font-weight: 600;
   margin-bottom: 15px;
 }

 .add-new {
   border: 1px solid #ccc;
   box-shadow: 0 3px 6px rgb(142, 141, 140);
   border-radius: 6px;
   padding: 12px;
   font-weight: 600;
   font-size: 16px;
   color: #0056d2;
   width: 700px;
   cursor: pointer;
   transition: 0.3s;
   margin-bottom: 20px;
 }

 .address-form {
   border: 1px solid #ddd;
   box-shadow: 0 3px 6px rgb(142, 141, 140);
   border-radius: 8px;
   width: 800px;
   padding: 20px;
   margin-bottom: 25px;
 }

 .address-container>.address-box>.address-form>form {
   /* width: 200px; */
 }

 .address-form>h3 {

   color: #0033cc;
   margin-bottom: 15px;
 }

 .form-row {
   display: flex;
   /* width: 90px; */
   gap: 15px;
   margin-bottom: 15px;
 }

 .form-row>input,
 .full {
   box-shadow: 0 3px 6px rgb(142, 141, 140);
   padding: 10px;
   width: 400px;
   border: 1px solid #aaa;
   border-radius: 5px;
   font-size: 14px;
 }

 .formrow>input {
   box-shadow: 0 3px 6px rgb(142, 141, 140);
   margin-bottom: 15px;
   width: 759px;
   font-size: 14px;
   border-radius: 5px;
   padding: 10px;
   border: 1px solid #aaa;
 }

 .form-buttons {
   display: flex;
   gap: 15px;
   margin-top: 15px;

 }


 .submit-btn {
   background-color: #0056d2;
   color: white;
   box-shadow: 0 3px 6px rgb(142, 141, 140);
   border: none;
   padding: 8px 20px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 15px;
 }

 .cancel-btn {
   background-color: #eee;
   box-shadow: 0 3px 6px rgb(142, 141, 140);
   color: #0033cc;
   border: none;
   padding: 8px 20px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 15px;
 }

 .submit-btn:hover {
   background-color: #0041a3;
 }

 .cancel-btn:hover {
   background-color: #ddd;
   color: red
 }


 .saved-address {
   box-shadow: 0 3px 6px rgb(142, 141, 140);
   display: flex;
   border-radius: 8px;
   flex-direction: column;
   gap: 15px;
 }

 .saved-card {
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 15px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
 }

 .saved-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* border: 1px solid;         */
   margin-bottom: 8px;
 }

 .name {
   font-weight: 700;
   font-size: 16px;
 }

 .edit-remove {
   display: flex;
   /* 
  justify-content: flex-end; */
   gap: 10px;

 }

 .edit-remove span {
   font-size: 20px;

 }

 .edit {
   color: blue;
   cursor: pointer;
 }

 .remove {
   color: red;
   cursor: pointer;
 }

 .saved-card p {
   margin: 0;
   font-size: 14px;
 }