.change {
    display: flex;
    flex-direction: column;
    margin-top: px;
    gap:25px;
    margin: 30px;
}
.change >h1{
    font-size: x-large;
    font-weight: bolder;
}
.pass{
    display: flex;
    flex-direction: column;
}

.change > button {
    width: 200px;
    box-shadow: 0 3px 6px rgb(142, 141, 140);
    border-radius: 6px;
}

.change .pass {
    font-size: 20px;
    font-weight: 400;
    width: 500px;
    gap: 10px;
}

.pass>input {
    border: 1px solid;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgb(142, 141, 140);
}
