.address-book {
    width: 800px;
    /* padding: 30px; */
}

.addressbox {
    /* width: 90vw; */
    padding: 25px;
}

.addressbox>h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.add_new {
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px rgb(142, 141, 140);
    border-radius: 6px;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
    color: #0056d2;
    width: 747px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.book-form {
    border: 1px solid #ddd;
    box-shadow: 0 3px 6px rgb(142, 141, 140);
    border-radius: 8px;
    /* width: 300px; */
    padding: 20px;
    margin-bottom: 25px;
}


.book-form>h3 {

    color: #0033cc;
    margin-bottom: 15px;
}

.formrow {
    display: flex;
    /* width: 90px; */
    gap: 15px;
    margin-bottom: 15px;
}

.formrow>input,
.full {
    box-shadow: 0 3px 6px rgb(142, 141, 140);
    padding: 10px;
    width: 400px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
}

.formrow>input {
    box-shadow: 0 3px 6px rgb(142, 141, 140);
    margin-bottom: 15px;
    width: 815px;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #aaa;
}

.formrow-form {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 15px;

}


.submitbtn {
    background-color: #0056d2;
    color: white;
    box-shadow: 0 3px 6px rgb(142, 141, 140);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.cancelbtn {
    background-color: #eee;
    box-shadow: 0 3px 6px rgb(142, 141, 140);
    color: #0033cc;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.submitbtn:hover {
    background-color: #0041a3;
}

.cancelbtn:hover {
    background-color: #ddd;
    color: red
}


.saved-book {
    /* box-shadow: 0 3px 6px rgb(142, 141, 140); */
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    gap: 15px;
}

.saved-cards {
    display: flex;
    border: 1px solid #b4b3b3;
    gap: 30px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 3px 6px rgb(142, 141, 140);
}

.saved-headers {
    align-items: center;
    margin-bottom: 8px;
}

.saved-headers>h1 {
    font-size: 15px;
    font-family: Rajdhani, sans-serif;
    font-weight: bold;
}

.saved-headers>.price {
    display: flex;
    width: 165px;
    justify-content: space-between;
}

.price>.curr-price {
    color: black;
    font-weight: bold;
}

.price>.total-price {
    text-decoration: line-through;
    color: #666;
}

.price>.discount {
    color: green;
    font-weight: 600;
}

.saved-cards>.images {
    padding: 20px 0;
    gap: 40px;
    /* height: 20px; */
}
.saved-cards>.images>img{
    height: 120px;
}

.names {

    font-weight: 700;
    font-size: 16px;
}

.edit-removes {
    display: flex;
    /* 
  justify-content: flex-end; */
    gap: 10px;

}

.edit-removes span {
    font-size: 20px;

}

.edits {
    color: blue;
    cursor: pointer;
}

.removes {
    color: red;
    cursor: pointer;
}

.saved-cards p {
    margin: 0;
    font-size: 14px;
}